.navbar {
    padding-left: 20px;
  }

  .pl-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .pt-1 {
    padding-top: 20px !important;
  }

  .country-icon {
    width: 24px !important;
    height: 24px !important;
    margin-right: 8px;
  }

  .country-icon-header {
    width: 24px !important;
    height: 24px !important;
  }

  .car-parts {
    width: 24px !important;
    height: 24px !important;
    margin-right: 8px;
  }

  .pl-1 {
    padding-left: 8px !important;
  }

  .pl-2 {
    padding-left: 16px !important;
  }

  body {
    color: #262626;
  }

  .card-text-item-text {
    padding-left: 8px !important;
  }

  .card-text-item-list {
    padding-top: 6px !important;
  }

  .list-unstyled {
    margin-bottom: 0px !important;
  }

  .card-img-top {
    height: 170px !important;
    object-fit: cover;
  }

  .btn {
    margin-top: 10px;
    float: left;
  }

  .round {
    border-radius: 100px;
    width: 120px;
    height: 120px;
  }

  .header-car-block {
    padding: 8px;
  }

  .header-car-block-first {
    padding: 8px 8px 8px 0px;
  }

  .row-content {
    flex-wrap: wrap;
    margin-top: 16px;
    justify-content: space-around;
  }

  @media screen and (min-width: 992px) {
    .row-content {
      flex-wrap: wrap;
      margin-top: 16px;
      justify-content: space-between;
    }
  }

  .card {
    width: 18rem;
    margin-bottom: 16px;
  }
